name: Testing
on: [push]

jobs:
  build:
    runs-on: ubuntu-24.04
    name: Testing
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 18
          cache: 'npm'

      - name: NPM Install
        run: npm ci

      - name: Linting
        run: npm run lint

      - name: Typing
        run: npm run typescript

      - name: Testing
        run: npm run test --coverage

      - name: Prepare Build
        run: npm run build
